#bg-image
{
  width: auto;
  height: 200vh;
  position: fixed;
  display: block;
  left: 50%;
  margin-left: calc(-200vh * 16 / 9 / 2);

  z-index: -100;
}

#grid
{
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto auto;
}

#clock
{
  color: black;
  background-color: #ffffff70;
  opacity: 0;
  backdrop-filter: blur(13px);

  font-family: 'LatoBold', monospace;
  font-size: 90pt;
  text-align: center;

  grid-row: 2/3;
  justify-self: center;
  align-self: center;

  padding: 0.8rem 2rem;
  border: 3px solid white;
  border-radius: 10px;

  box-shadow: 0px 0px 10px black;

  position: relative;
}

.weather
{
  color: black;
  background-color: #ffffff70;
  opacity: 0;
  backdrop-filter: blur(13px);

  font-family: 'LatoLight', sans-serif;
  font-size: 25pt;
  line-height: 10pt;

  grid-row: 3/4;
  justify-self: center;
  align-self: start;

  padding: 1rem 2rem;
  border: 3px solid white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px black;

  position: relative;

  animation-delay: 0.1s;
}

.weather img
{
  border: 1px solid white;
}

#temp-and-icon-div
{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#temp-and-icon-div p
{
  font-family: 'LatoBold', sans-serif;
  font-size: 1.6em;
}

.rise-animation
{
  animation-name: rise;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}


@media (max-width: 1000px)
{
  #clock
  {
    font-size: 60pt;
  }

  .weather
  {
    font-size: 15pt;
  }

  .weather img
  {
    width: 40px;
    height: auto;
  }

}

@media (max-width: 600px)
{
  #clock
  {
    font-size: 40pt;
  }

  .weather
  {
    font-size: 12pt;
  }

  .weather img
  {
    width: 30px;
    height: auto;
  }
}

@media (max-height: 600px)
{
  #clock
  {
    font-size: 30pt;
  }

  .weather
  {
    font-size: 10pt;
  }

  .weather img
  {
    width: 30px;
    height: auto;
  }
}

@keyframes rise
{
  from
  {
    top: 100px;
  }

  to
  {
    top: 0;
    opacity: 1;
  }
}
